.signin-base-container {
  background-color: #ffdc00;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.app-title {
  color: white;
  position: absolute;
  top: 2rem;
  left: 1rem;
}

.signin-main-container {
  background-color: white;
  height: 82%;
  width: 100%;
  border-top-left-radius: 1.2em;
  border-top-right-radius: 1.2em;
  -webkit-border-top-left-radius: 1.2em;
  -webkit-border-top-right-radius: 1.2em;
  -moz-border-top-left-radius: 1.2em;
  -moz-border-top-right-radius: 1.2em;
  -ms-border-top-left-radius: 1.2em;
  -ms-border-top-right-radius: 1.2em;
  -o-border-top-left-radius: 1.2em;
  -o-border-top-right-radius: 1.2em;
}

.main-form-container {
  text-align: center;
}

.page-label {
  letter-spacing: 0.1rem;
  margin-left: 1.5em;
  margin-top: 2em;
  font-size: 1.3rem;
  font-weight: bold;
}

.form-controller-container {
  width: 80%;
}

.line-break-container {
  display: flex;
  flex-direction: row;
}

.google-auth:hover {
  cursor: pointer;
}
